/* Estilos generales para el contenedor principal */
.sucursales-section-container {
    background-color: #ffffff; /* Fondo blanco para todo el contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
.sucursales-header-container {
    display: flex;
    justify-content: space-between; /* Título a la izquierda y campo de búsqueda a la derecha */
    align-items: center;
    margin-bottom: 20px; /* Separación mayor entre título y búsqueda */
}

.sucursales-header-container h1 {
    font-size: 22px;
    margin: 0; /* Elimina el margen debajo del título */
    color: #222;
    font-weight: bold;
}


.sucursales-search-input {
    width: 250px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #f9f9f9; /* Fondo claro */
    color: #333;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efectos cuando el campo de búsqueda tiene el foco */
.sucursales-search-input:focus {
    border-color: #ff7777;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}



.sucursales-toggle-form-button {
    padding: 10px 20px;
    background-color: #e15050; /* Rojo */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    max-width: 300px;
}

.sucursales-toggle-form-button:hover {
    background-color: #a21818; /* Cambio de color en hover */
}

/* Estilos para el formulario */
.sucursales-form-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

.sucursales-form-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

/* Estilo común para los campos del formulario */
.sucursales-form-container input, 
.sucursales-form-container select
{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #000000;
}

/* Estilos para la tabla */
.sucursales-data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
    background-color: #ffffff; /* Fondo blanco */
}

/* Estilo de celdas en la tabla */
.sucursales-data-table th,
.sucursales-data-table td {
    padding: 10px 12px;
    border-bottom:  solid #e0e0e0;
    text-align: left;
    font-size: 14px;
    color: #222;
}

/* Estilo de las cabeceras de la tabla */
.sucursales-data-table th {
    background-color: #f2f2f2; /* Fondo claro */
    color: #000000;
    font-weight: normal;
}

/* Estilos de los botones de acción */
.sucursales-action-button {
    padding: 8px 16px;
    background-color: #e15050;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.sucursales-action-button:hover {
    background-color: #a21818; /* Cambio de color cuando se pasa el mouse */

}

/* Estilos de los botones de formulario */
.sucursales-save-button, .sucursales-cancel-button {
    padding: 10px 20px;
    background-color: #e15050;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.sucursales-save-button:hover, .sucursales-cancel-button:hover {
    background-color: #a21818; /* Cambio de color en hover */
}